<div class="emty">
    <h1>Thanh Toán Thành Công!</h1>
    <img src="~/assets/1-removebg-preview.png" alt="">
    <div>
        <a asp-controller="Home" asp-action="Index"><button>Quay lại Trang chủ</button></a>
    </div>
</div>