@model List<Atsumaru.Models.Product>
@{
    ViewData["Title"] = "Sản phẩm theo thể loại";
}
<div class="wraps">
    <div class="slider-contais">
        <div class="slides">
            @foreach (var item in Model)
            {
                <a style="text-decoration: none;" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><div class="cards"><img src="@item.Image" alt=""><p>@item.Name</p></div></a>
            }
        </div>
    </div>
</div>
<div class="cens">
    <!-- Nút số trang sẽ tự tạo bằng JS -->
    <button class="prevs"><i class="fa-solid fa-angles-left"></i></button>
    <span class="page-numbers" style="color: #fff;"></span>
    <button class="nexts"><i class="fa-solid fa-angles-right"></i></button>
</div>